<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <p>ID de la Sesión: <span th:text="${session.pacientesession.dni}"></span></p>

        <br>

        <form th:action="@{/turno/buscarTurno}" method="post">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required><br><br>

            <button type="submit">buscar</button>
        </form>


    </body>

</html>