<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>Document</title>
        <!--- google material icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/panel.css">


    </head>

    <body>
        <nav>aca va el nav</nav>
        <!--TOP NAVBAR END-->
        <!--page content star-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                aria-controls="staticBackdrop">
            Panel
        </button>
        <!-- sidebar -->
        <div class="offcanvas offcanvas-end" data-bs-backdrop="false" tabindex="-1" id="staticBackdrop"
             aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- contenido -->
                <div>
                    <div class="panel">
                        <!--Agregar usuarios-->
                        <a href="#" class="btn btn-success panel-item" data-toggle="modal" data-section="crearProfesional">
                            <i class="material-icons">&#xE147;</i>
                            <span>Agregar profesional</span></a>

                        <a href="#" class="btn btn-success panel-item" data-toggle="modal" data-section="crearPaciente">
                            <i class="material-icons">&#xE147;</i>
                            <span>Agregar Paciente</span></a>
                        <!--Eliminar usuarios-->
                        <a href="#" class="btn btn-info panel-item" data-toggle="modal" data-section="listarProfesional">
                            <i class="material-icons">&#xe8ef;</i>
                            <span>Lista Profesional</span></a>

                        <a href="#" class="btn btn-info panel-item" data-toggle="modal" data-section="listarPaciente">
                            <i class="material-icons">&#xe8ef;</i>
                            <span>Lista Paciente</span></a>
                    </div>
                </div>
                <!-- fin contenido -->
            </div>

        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label></span></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>

                </tr>
            </thead>


            <tbody>
                <tr>
                    <th><span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="option[]" value="1">
                            <label for="checkbox1"></label></span></th>
                    <th>Ejmplo Nombre</th>
                    <th>Ejemplo Apellido</th>
                    <th>Email@gamil.com</th>
                    <th>(+54 9 11 59747390)</th>
                    <th><a href="#" class="edit" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        </a>Modificar</th>

                    <th><a href="#" class="delete" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>Eliminar</th>
                </tr>
                <tr>
                    <th><span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="option[]" value="1">
                            <label for="checkbox1"></label></span></th>
                    <th>Ejmplo Nombre</th>
                    <th>Ejemplo Apellido</th>
                    <th>Email@gamil.com</th>
                    <th>(+54 9 11 59747390)</th>
                    <th><a href="#" class="edit" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        </a>Modificar</th>

                    <th><a href="#" class="delete" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>Eliminar</th>
                </tr>
                <tr>
                    <th><span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="option[]" value="1">
                            <label for="checkbox1"></label></span></th>
                    <th>Ejmplo Nombre</th>
                    <th>Ejemplo Apellido</th>
                    <th>Email@gamil.com</th>
                    <th>(+54 9 11 59747390)</th>
                    <th><a href="#" class="edit" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        </a>Modificar</th>

                    <th><a href="#" class="delete" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>Eliminar</th>
                </tr>

            </tbody>
        </table>


        <!-- fin sidebar -->
        <section id="crearProfesional" class="dashboard-section">
            <h1>aca va el form para agregar profesional</h1>
        </section>
        <section id="crearPaciente" class="dashboard-section">
            <h1>aca va el form para agregar paciente</h1>
        </section>
        <section id="listarProfesional" class="dashboard-section">
            <h1>aca va la lista de profesionales</h1>
        </section>
        <section id="listarPaciente" class="dashboard-section">
           <h1> aca va lista pacientes</h1>
        </section>
        <!-- LISTAS -->

        <script src="../static/js/panel.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>