<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"> </head>

    <body>
        <div class="contenedor">
            <div th:replace="/fragments/navbar ::div"> </div>

            <!-- HOME CAROUSEL -->

            <a class="navbar-brand" th:text="'Error' + ${codigo}">HEALT SERVICE</a>
            <p class="tituloLibros" th:text="${mensaje}"></p>
            <div class="carr">
                <div class="carrusel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/slider1.jpg" class="d-block " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/slider2.jpg" class="d-block " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/slider3.jpg" class="d-block " alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!--Cierra Carrusel-->
            <div class="cont">
                <h1 class="fst-italic">Especialidades</h1>
                <div class="profesionales">
                    <div class="card">
                        <div class="image-box">
                            <img src="images/pediatria.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <div class="main">
                                <span>Pediatría</span>
                            </div>
                            <div class="sub">
                                <span>Ver más</span>
                            </div>
                        </div>
                    </div> <!--cierra el cntenedor tarjeta-->
                    <div class="card">
                        <div class="image-box">
                            <img src="images/cardio.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <div class="main">
                                <span>Cardiología</span>
                            </div>
                            <div class="sub">
                                <span>Ver más</span>
                            </div>
                        </div>
                    </div> <!--cierra el cntenedor tarjeta-->
                    <div class="card">
                        <div class="image-box">
                            <img src="images/odonto.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <div class="main">
                                <span>Odontología</span>
                            </div>
                            <div class="sub">
                                <span>Ver más</span>
                            </div>
                        </div>
                    </div> <!--cierra el cntenedor tarjeta-->
                    <div class="card">
                        <div class="image-box">
                            <img src="images/trauma.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <div class="main">
                                <span>Kinesiología</span>
                            </div>
                            <div class="sub">
                                <span>Ver más</span>
                            </div>
                        </div>
                    </div> <!--cierra el cntenedor tarjeta-->
                </div> <!--cierra el cntenedor prosesionales-->
            </div> <!--Cierra Contenedor 1-->
            <!-- INICIO FORM -->
            <div class="reg">
                <div class="news">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Declaración de la OMS sobre los brotes de
                                enfermedades respiratorias en niños en el norte de China</h5>
                            <p class="card-text">La OMS ha solicitado oficialmente a China información detallada sobre
                                el aumento notificado de los casos de enfermedades respiratorias y de los grupos de casos de
                                neumonía infantil. .</p>
                            <a href="https://www.who.int/es/news/item/22-11-2023-who-statement-on-reported-clusters-of-respiratory-illness-in-children-in-northern-china"
                               class="btn btn-primary" target="_blank">Ir a Sitio</a>
                        </div>
                    </div><!--cierra card-->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Los envíos a los países africanos anuncian los últimos pasos hacia una
                                vacunación de mayor alcance contra el paludismo
                                22 de noviembre de 2023 </h5>
                            <p class="card-text">Más de 330 000 dosis de la vacuna antipalúdica RTS,S recomendada por la OMS
                                llegaron anoche al Camerún, lo que supone un paso histórico hacia la ampliación de la
                                vacunación
                                contra una de las enfermedades más mortíferas para los niños africanos.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div><!--cierra card-->
                </div><!--cierra div news-->
            </div><!--cierra area reg-->

            <div class="cont2">
                <div class="contimag">
                    <img src="images/team-image1.jpg">
                </div>
                <div class="context">
                    <h1>Pediatría</h1>
                    <div class="my-3 ">
                        <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                            perferendis architecto? Rerum, commodi pariatur ipsa fuga error voluptas repellendus rem
                            corporis odit ipsum. Repudiandae.</p>
                        <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                            perferendis architecto? Rerum, commodi pariatur ipsa fuga error voluptas repellendus rem
                            corporis odit ipsum. Repudiandae.</p>
                        <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                            ae.</p>
                    </div>
                </div><!--Cierra texto del contenedor 2-->
            </div> <!--Cierra Contenedor 2-->

            <footer th:replace="/fragments/footer :: footer"></footer>
        </div> <!--Cierra contenedor de a grilla de grid-->

    </body> <!--Cierra body-->

</html>