<!DOCTYPE html>
<html>
<head>
    <title>Filtrar Profesionales por Especialidad</title>
</head>
<body>
    <h1>Seleccione una especialidad:</h1>
    <form id="filtroForm">
        <select id="especialidadSelect">
            <option value="CLINICA">Clínica</option>
            <option value="CARDIOLOGIA">Cardiología</option>
            <option value="GINECOLOGIA">Ginecología</option>
            <option value="PEDIATRIA">Pediatría</option>
        </select>
        <input type="submit" value="Filtrar">
    </form>

    <div id="resultadoProfesionales">
        <!-- Aquí se mostrarán los resultados -->
    </div>

</body>
</html>
