<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
    <title>App Salud</title>
</head>

<body>
    <div class="contenedor">
        <div th:replace="/fragments/navbar ::div"> </div>
    </div>
    <section class="reg">

        <div class="panel">
            <p class="text-white">ID de la Sesión: <span th:text="${session.profesionalsession.matricula}"></span></p>

            <hr class="my-2">
            <h2 class="fst-italic text-white">Paciente de Turno</h2>

            <table class="table table-success table-striped table-hover h-25">
                <thead>
                    <tr>
                        <th scope="col">dni</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        

                    </tr>
                </thead>
                <tbody th:each="paciente : ${paciente}">
                    <tr>
                        <th scope="row" th:text="${paciente.dni}"></th>
                        <td th:text="${paciente.apellido}"></td>
                        <td th:text="${paciente.nombre}"></td>

                </tbody>
            </table>
            <form class="form-box" th:action="@{/hc/creada}" method="post">
                <p class="title">Crear Historia</p>
                <div class="row text-white">
                    <div class="col-4 mb-3">
                        <label>Matricula profesional</label>
                        <input type=text class="form-control" th:value="${session.profesionalsession.matricula}"
                            name="profesional_id">
                    </div>
                    <div class="col-4 mb-3">
                        <label>DNI paciente</label>
                        <input type=text class="form-control" th:value="${paciente.dni}" name="profesional_id">
                    </div>
                    <div class="col-4 mb-3">
                        <label>Motivo de la visita</label>
                        <input type=text class="form-control" name="titulo">
                    </div>
                    <div class="col-6 mb-3">
                        <label>
                            Diagnostico
                        </label>
                        <textarea type=text class="form-control" name="diagnostico"></textarea>
                    </div>

                    <div class="col-6 mb-3">
                        <label>Tratamiento</label>
                        <textarea type=text class="form-control" name="tratamiento"></textarea>
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <input class="btn btn-primary col-4" type="submit" value="Envio" />
                    </div>


                </div>

            </form>
        </div>
    </section>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>