<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>
    <div class="contenedor" id="fondo">
        <div th:replace="/fragments/navbar ::div"> </div>
        <!-- HOME CAROUSEL -->
        <div class="carr">
            <div class="carrusel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/slider1.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider2.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider3.jpg" class="d-block " alt="...">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Cierra Carrusel-->


        <div class="cont">
            <h1 class="fst-italic">Especialidades</h1>
            <div class="especialidades">
                <div class="card">
                    <div class="image-box">
                        <img src="images/pediatria.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <div class="main">
                            <span>Pediatría</span>
                        </div>
                        <div class="sub">
                            <span>Ver más</span>
                        </div>
                    </div>
                </div> <!--cierra el cntenedor tarjeta-->
                <div class="card">
                    <div class="image-box">
                        <img src="images/cardio.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <div class="main">
                            <span>Cardiología</span>
                        </div>
                        <div class="sub">
                            <span>Ver más</span>
                        </div>
                    </div>
                </div> <!--cierra el cntenedor tarjeta-->
                <div class="card">
                    <div class="image-box">
                        <img src="images/odonto.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <div class="main">
                            <span>Odontología</span>
                        </div>
                        <div class="sub">
                            <span>Ver más</span>
                        </div>
                    </div>
                </div> <!--cierra el cntenedor tarjeta-->
                <div class="card">
                    <div class="image-box">
                        <img src="images/trauma.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <div class="main">
                            <span>Kinesiología</span>
                        </div>
                        <div class="sub">
                            <span>Ver más</span>
                        </div>
                    </div>
                </div> <!--cierra el cntenedor tarjeta-->
            </div> <!--cierra el cntenedor prosesionales-->
        </div> <!--Cierra Contenedor 1-->

        <div class="cont2 ">
            <h1 class="fst-italic">Servicios</h1>

            <section class="galeria-servicios">
                <a href="#image1">
                    <img src="/images/ambulancias.webp" alt="">
                    <span>Servicio de Ambulancias</span>
                </a>
                <a href="#image2">
                    <img src="/images/laboratorio3.jpg" alt="">
                    <span>Laboratorio a Domicilio</span>
                </a>
                <a href="#image3">
                    <img src="/images/call.webp" alt="">
                    <span>Atención telefónica 24/7</span>
                </a>
                <a href="#image3">
                    <img src="/images/laboratorio2.jpg" alt="">
                    <span>Exámenes Especializados</span>
                </a>
            </section>
        </div> <!--Cierra Contenedor 2-->

        <!-- INICIO APARTADO-->
        <div class="reg">
            <div class="news">
                <div class="card" style="width: 15rem;">
                    <div class="card-body bg-gradient">
                        <h5 class="card-title">Declaración de la OMS sobre los brotes de
                            enfermedades respiratorias en niños en el norte de China</h5>
                        
                        <a href="https://www.who.int/es/news/item/22-11-2023-who-statement-on-reported-clusters-of-respiratory-illness-in-children-in-northern-china"
                            class="btn btn-outline-dark" target="_blank">Ir a Sitio</a>
                    </div>
                </div><!--cierra card-->
                <div class="card" style="width: 15rem;">
                    <div class="card-body bg-gradient">
                        <h5 class="card-title">Los envíos a los países africanos anuncian los últimos pasos hacia una
                            vacunación de mayor alcance contra el paludismo </h5>
                        
                        <a href="#" class="btn btn-outline-dark">Ver más</a>
                    </div>
                </div><!--cierra card-->
                
            </div><!--cierra div news-->
        </div><!--cierra area reg-->


        <footer th:replace="/fragments/footer :: footer"></footer>
    </div> <!--Cierra contenedor de a grilla de grid-->


</body> <!--Cierra body-->

</html>