<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>
    <div class="contenedor">
        <div th:replace="/fragments/navbar ::div"> </div>
        <!-- HOME CAROUSEL -->
        <div class="carr">
            <div class="carrusel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/slider1.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider2.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider3.jpg" class="d-block " alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Cierra Carrusel-->

        <div class="cont">
            <h1>Nuestros Profesionales</h1>
            <div class="profesionales">
                <div class="prof">
                    <img src="images/appointment-image.jpg" alt="">
                </div>
                <div class="prof">
                    <img src="images/appointment-image.jpg" alt="">
                </div>
                <div class="prof">
                    <img src="images/appointment-image.jpg" alt="">
                </div>
            </div>
        </div> <!--Cierra Contenedor 1-->


        <!-- INICIO FORM -->
        <section th:replace="/fragments/reg_pac :: section"> </section>


        <div class="cont2">
            <div class="contimag">
                <img src="images/team-image1.jpg">
            </div>
            <div class="context">
                <h1>Pediatría</h1>
                <div class="my-3 ">
                    <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                        perferendis architecto? Rerum, commodi pariatur ipsa fuga error voluptas repellendus rem
                        corporis odit ipsum. Repudiandae.</p>
                    <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                        perferendis architecto? Rerum, commodi pariatur ipsa fuga error voluptas repellendus rem
                        corporis odit ipsum. Repudiandae.</p>
                    <p>Lorem ipsum dolor adipisicing elit. Voluptatem possimus iure fugiat sit, cupiditate accusantium
                        ae.</p>

                </div>
            </div><!--Cierra texto del contenedor 2-->

        </div> <!--Cierra Contenedor 2-->


        <footer th:replace="/fragments/footer :: footer"></footer>
    </div> <!--Cierra contenedor de a grilla de grid-->

</body> <!--Cierra body-->

</html>