<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Salud</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="contenedor">
        <div class="navb">
            <!-- MENU -->
            <nav class="navbar navbar-expand-md bg-body-tertiary  ">
                <div class="container-fluid">
                    <a class="navbar-brand mx-5" href="/">Health Service</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav container d-flex justify-content-end">
                            <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
                            <a class="nav-link mx-2" href="#">Doctores</a>
                            <a class="nav-link mx-2" href="#">Contacto</a>
                            <a class="nav-link mx-2 btn btn-custom-green " href="#turnos">Turnos</a>
                            <a class="nav-link mx-2" href="#">Login</a>
                            <a class="nav-link mx-2" href="#form">Registro</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- HOME CAROUSEL -->
        <div class="carr">
            <div class="carrusel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/slider1.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider2.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/slider3.jpg" class="d-block " alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="cont">
            <div>
                Lorem ipsum dolor sit amet.
            </div>
        </div>

        <!-- INICIO FORM -->
        <div class="reg">
            <form id="form" class="form" th:action="@{/registro}" method="POST" enctype="multipart/form-data"><!-- se puede agregar el atributo "novalidate" para quitar las alertas predeterminadas del "required"  -->
                <p class="title">Registro </p>
                <p class="message">Registrate ahora para tener acceso completo a nuesta app!</p>

                <label>
                    <input type="text" class="input" required="false" name="nombre" th:value="${nombre}">
                    <span>Nombre</span>
                </label>

                <label>
                    <input type="text" class="input" required="" name="apellido" th:value="${apellido}">
                    <span>Apellido</span>
                </label>

                <label>
                    <input type="number" class="input" required="" name="dni" th:value="${dni}">
                    <span>DNI</span>
                </label>
                <label>
                    <input type="text" class="input" required="" name="domicilio" th:value="${domicilio}">
                    <span>Domicilio</span>
                </label>
                <label>
                    <input type="email" class="input" required="" name="email" th:value="${email}">
                    <span>Email</span>
                </label>
                <label>
                    <input type="text" class="input" required="" name="telefono" th:value="${telefono}">
                    <span>Telefono</span>
                </label>
                <label>
                    <input required="" type="password" class="input" name="password" th:value="${password}">
                    <span>Contraseña</span>
                </label>
                <label>
                    <input required="" type="password" class="input" name="password2" th:value="${password2}">
                    <span>Repetir Contraseña</span>
                </label>
                <button class="submit">Registrarme</button>
                <p class="signin">Ya tienes una cuenta? <a href="#">Loguearse</a> </p>
                <!-- Inicio Mensaje de Exito -->
                <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <!-- Fin Mensaje de Exito -->

                <!-- Inicio mensaje de error -->
                <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error!!</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <!-- Fin mensaje de error -->
            </form>
            <!-- FIN FORM -->

            <!-- 
                <div class="apartado">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quis laborum consectetur nam
                eligendi, maiores distinctio praesentium delectus iure ut saepe? Sit accusantium architecto nulla
                possimus, cumque inventore, debitis at tenetur, maxime itaque accusamus illo sunt molestias praesentium
                mollitia fugiat sint libero non eius. Iste saepe ex dolor exercitationem deserunt?
            </div> 
            -->
        </div>


        <div class="cont2">
            <div>
                Lorem ipsum dolor sit amet.
            </div>
        </div>

        <div class="foot">
            <div class="col-md-6 col-sm-6">
                <div class="footer-link">
                    <a href="#">Laboratory Tests</a>
                    <a href="#">Departments</a>
                    <a href="#">Insurance Policy</a>
                    <a href="#">Careers</a>
                </div>
            </div>

        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>