<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/formulario.css">
        <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
        <title>App Salud</title>
    </head>


    <body>
        <div class="contenedor">
            <div th:replace="/fragments/navbar ::div"> </div>
            <section class="reg">
                <section class="tabla">
                    <hr class="my-2">
                    <h2 class="fst-italic text-white">Turnos del día</h2>
                    <a class="dropdown-item" th:href="@{/paciente/listaPacientes}">Lista de Profesionales</a></li>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Matricula</th>
                                <th scope="col">Dni</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Telefono</th>
                            </tr>
                        </thead>
                        <tbody th:each="profesional : ${profesionales}">
                            <tr>
                                <th scope="row" th:text="${profesional.matricula}"></th>
                                <th scope="row" th:text="${profesional.dni}"></th>
                                <td th:text="${profesional.apellido}"></td>
                                <td th:text="${profesional.nombre}"></td>
                                <td th:text="${profesional.email}"></td>
                                <td th:text="${profesional.telefono}"></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!-- FIN FORM -->
                
                </div>
            </section>
        </div>

                </div>
            </div> <!--cierra beneficios-->
        </section>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

</body>

</html>