<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/listaTurnoFecha.css">
    </head>

    <body>
        <section class="tabla">
            <h2 class="fst-italic text-white">Turnos del día</h2>
            <p>ID de la Sesión: <span th:text="${session.pacientesession.dni}"></span></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Reservar</th>
                    </tr>
                </thead>
                <tbody th:each="turno:${turno}">
                    <tr>
                        <td th:if="${!turno.reservado}" th:text ="${turno.idTurno}"></td>
                        <td th:if="${!turno.reservado}" th:text="${#temporals.format(turno.fecha, 'dd-MM-yyyy')}"></td>
                        <td th:if="${!turno.reservado}" th:text="${#temporals.format(turno.horario, 'HH:mm')}"></td>             
                        <td>
                            <a th:if="${!turno.reservado}" th:href="@{/turno/reservado/__${turno.idTurno}__}"> Solicitar </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>


    </body>

</html>

