<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/formulario.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
        <title>App Salud</title>
    </head>

<body>
    <div class="contenedor">
        <div th:replace="/fragments/navbar ::div"> </div>
    </div>
    <section class="reg">
        <div class="panel">
            <!--* FORMULARIO PARA ACTUALIZAR DATOS ARMAR FRAGMENT-->
            <div>
                <form id="form" class="form" th:action="@{/paciente/registro}" method="POST"
                    enctype="multipart/form-data" novalidate>
                    <!-- se puede agregar el atributo "novalidate" para quitar las alertas predeterminadas del "required"  -->
                    <p class="title ">Actualizar Datos</p>
                    <label>
                        <input type="text" class="input" required="" name="domicilio" th:value="${domicilio}">
                        <span>Domicilio</span>
                    </label>
                    <label>
                        <input type="tel" class="input" required="" name="telefono" th:value="${telefono}">
                        <span>Telefono</span>
                    </label>
                    <label>
                        <input type="email" class="input" required="" name="email" th:value="${email}">
                        <span>Email</span>
                    </label>
                    
                    <button class="submit">Actualizar</button>
                    
                    <!-- Inicio Mensaje de Exito -->
                    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                        <div class="card-body">
                            <h5 class="card-title">Exito</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                        <!-- Fin Mensaje de Exito -->

                        <!-- Inicio mensaje de error -->
                        <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
                            <div class="card-body">
                                <h5 class="card-title">Error!!</h5>
                                <p class="card-text" th:text="${error}"></p>
                            </div>
                        </div>
                        <!-- Fin mensaje de error -->
                    </form>
                </div>

                <!--? SOLICITAR TURNOS ARMAR FRAGMENT-->


                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Especialidad</option>
                    <option value="1">Boleto Gratuito a recorrer el mundo</option>
                    <option value="2">Un año Sabatico</option>
                    <option value="3">Sigamos Codeando</option>
                </select>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Doctor</option>
                    <option value="1">Doctor House</option>
                    <option value="2">Grace Anatomy</option>
                    <option value="3">New Amsterdam</option>
                </select>
            </div><!-- Cierra div del panel contenedor -->

            <!--* SIDEBAR-->
            <section th:replace="/fragments/sidebar :: section"></section>


        </section> <!--? cierra el contendedor reg-->
    </div>
</section>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>
