<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/formulario.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
        <title>App Salud</title>
    </head>

    <body>
        <div class="contenedor">
            <div th:replace="/fragments/navbar ::div"> </div>
        </div>
        <section class="reg">
            <div class="panel"> <!--? estes div solo contiene el form para lo interactivo-->
                <!--* FORMULARIO PARA ACTUALIZAR DATOS ARMAR FRAGMENT-->
                <div class="contenedora" id="form">
                    <form id="form" class="form" th:action="@{/paciente/registro}" method="POST"
                          enctype="multipart/form-data" novalidate>
                        <!-- se puede agregar el atributo "novalidate" para quitar las alertas predeterminadas del "required"  -->
                        <p class="title ">Actualizar Datos Paciente</p>
                        <label>
                            <input type="text" class="input" required="" name="domicilio" th:value="${domicilio}">
                            <span>Domicilio</span>
                        </label>
                        <label>
                            <input type="tel" class="input" required="" name="telefono" th:value="${telefono}">
                            <span>Telefono</span>
                        </label>
                        <label>
                            <input type="email" class="input" required="" name="email" th:value="${email}">
                            <span>Email</span>
                        </label>

                        <button class="submit">Actualizar</button>

                        <!-- Inicio Mensaje de Exito -->
                        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                            <div class="card-body">
                                <h5 class="card-title">Exito</h5>
                                <p class="card-text" th:text="${exito}"></p>
                            </div>
                            <!-- Fin Mensaje de Exito -->

                            <!-- Inicio mensaje de error -->
                            <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
                                <div class="card-body">
                                    <h5 class="card-title">Error!!</h5>
                                    <p class="card-text" th:text="${error}"></p>
                                </div>
                            </div>
                            <!-- Fin mensaje de error -->
                    </form>
                </div>

                <div class="contenedor">
                    <section class="reg">
                        <section class="tabla">
                            <hr class="my-2">
                            <h2 class="fst-italic text-white">Turnos del día</h2>
                            <h2 class="fst-italic text-white">Lista de Profesionales</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Matricula</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Telefono</th>
                                    </tr>
                                </thead>
                                <tbody th:each="profesional : ${profesionales}">
                                    <tr>
                                        <th scope="row" th:text="${profesional.matricula}"></th>
                                        <td th:text="${profesional.apellido}"></td>
                                        <td th:text="${profesional.nombre}"></td>
                                        <td th:text="${profesional.email}"></td>
                                        <td th:text="${profesional.telefono}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <!-- FIN FORM -->
                    </section>
                </div> <!--cierra beneficios-->

                <!--? LISTAR SERVICIOS ARMAR FRAGMENT-->
                <div class="contenedora" id="servicios">
                    <section>
                        <h2 class="fst-italic text-white">Servicios</h2>
                        <div class="conte">
                            <section class="galeria-servicios">
                                <a href="#image1">
                                    <img src="/images/ambulancias.webp" alt="">
                                    <span>Servicio de Ambulancias</span>
                                </a>
                                <a href="#image2">
                                    <img src="/images/laboratorio2.jpg" alt="">
                                    <span>Laboratorio a Domicilio</span>
                                </a>
                                <a href="#image3">
                                    <img src="/images/call.webp" alt="">
                                    <span>Atención telefónica 24/7</span>
                                </a>
                            </section>
                        </div>
                    </section><!-- Cierra servicio -->
                </div> <!-- Cierra div contenedor servicios-->

            </div><!-- Cierra div del panel contenedor -->

            <!--* SIDEBAR-->
            <section th:replace="/fragments/sidebar :: section"></section>


        </section> <!--? cierra el contendedor reg-->
    </div>
</section>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>