<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/formulario.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
        <title>App Salud</title>
    </head>

    <body>
        <!--* Contenedor general-->
        <div class="contenedor">
            <div th:replace="/fragments/navbar ::div"> </div>
        </div>
        <section class="reg">

            <div class="panel">

                <!--* FICHA DEL PROFESIONAL-->
                <section class="tabla">

                    <h3 class="fst-italic text-white" th:if="${session.profesionalsession != null}"
                        th:text=" 'Panel Dr '+ ${session.profesionalsession.apellido} "></h3>
                    <hr class="my-2">
                    <div class="datos d-flex">
                        <table class="table table-success table-striped table-hover w-75 h-25">
                            <thead>
                                <tr class="text-center"></tr>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Estatus</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center"></tr>
                            <td th:text="${profesional.apellido}"></td>
                            <td th:text="${profesional.nombre}"></td>
                            <td th:text="${profesional.email}"></td>
                            <td th:text="${profesional.telefono}"></td>
                            <td th:text="${profesional.especialidad}"></td>
                            <td><i class="fa-solid fa-toggle-on"></i></td>

                            </tr>
                            </tbody>
                        </table>
                        <!--* CONTENEDOR IMAGEN PROFESIONAL-->
                        <div class="imagenP mx-3 bg-info" th:unless="${session.profesionalsession == null}">
                            <img class="imgPerfil"
                                 th:src="@{/imagen/profesional/__${session.profesionalsession.matricula}__}" alt="usuario">
                        </div> <!-- cierra el contenedor ded actualizar -->
                    </div>
                    <!--* CONTENEDOR INFO ADICIONAL-->
                    <div class="info">
                        <h4 class="fst-italic text-white">Información Adicional</h4>
                        <textarea class="w-50" type="text" name="" id="" ></textarea>
                    </div>
                </section>

                <!--? LISTAR PACIENTES -->
                <section class="pacientes my-5">
                    <hr class="my-2">
                    <h2 class="fst-italic text-white">Pacientes</h2>
                    <div>
                        <table class="table table-success table-striped table-hover w-75 h-25">
                            <thead>

                                <tr>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">TelefonoCelular</th>
                                    <th scope="col" colspan="2">Historia Clinica</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="paciente : ${pacientes}">
                                    <td th:text="${paciente.apellido}"></td>
                                    <td th:text="${paciente.nombre}"></td>
                                    <td th:text="${paciente.email}"></td>
                                    <td th:text="${paciente.telefono}"></td>
                                    <td>
                                        <a class="mx-2" th:href="@{/hc/crear/__${paciente.dni}__}"> crear </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                </section><!--Cierra la tabla de Pacientes-->

                <!--? DISPONIBILIDAD DE TURNOS-->
                <section class="turno " id="turnos">
                    <hr class="my-2">
                    <h2 class="fst-italic text-white">Disponibilidad de Turnos</h2>
                    <form th:action="@{/turno/creado}" method="post" class="form text-white fw-bold">
                        <div class="form-group mx-2">
                            <label class="name" for="fecha">Fecha:</label>
                            <input type="date" id="fecha" name="fecha" required class="form-control ">
                        </div>
                        <div class="form-group mx-2">
                            <label for="horaInicio">Hora Inicio:</label>
                            <select name="horaInicio" required class="form-control">
                                <!-- Generar opciones de 06:00 a 22:00 con intervalos de media hora en formato de 24 horas -->
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                            </select>
                        </div>
                        <div class="form-group mx-2">
                            <label for="hora">Hora Final:</label>
                            <select name="horaFin" required class="form-control">
                                <!-- Generar opciones de 06:00 a 22:00 con intervalos de media hora en formato de 24 horas -->
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                            </select>
                        </div>
                        <input type="hidden" name="profesional_id" th:value="${session.profesionalsession.matricula}" />
                        <button type="submit" class="btn btn-primary mx-2">Cargar</button>
                    </form>
                    <div th:if="${exito}" style="color: green;">
                        <p th:text="${exito}"></p>
                    </div>

                    <div th:if="${error}" style="color: red;">
                        <p th:text="${error}"></p>
                    </div>
                </section>
            </div>
        </section><!-- Cierra section servicios -->
    </div><!-- Cierra div del panel contenedor -->

    <!--* SIDEBAR-->
    <section th:replace="/fragments/sidebarProfesional :: section"></section>
</section> <!--? cierra el contendedor reg-->

<footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>