<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body id="fondo">

    <!-- Inicio Header -->
        <header>
            <div th:replace="/fragments/navbar ::div"> </div>
        </header>
<!-- Fin Header -->

    <!-- Inicio Formulario Registro -->
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-5 mx-auto order-1" data-aos="fade-up" data-aos-delay="200">
                <form th:action="@{/registro}" method="POST" class="form-box" enctype="multipart/form-data">
                    <p class="title">Registro </p>
                    <div class="row">
                        <div class="col-12 mb-3 d-flex justify-content-around">
                            <input type="text" class="form-control me-3" name="nombre" placeholder="Nombre"
                                th:value="${nombre}">
                            <input type="text" class="form-control " name="apellido" placeholder="Apellido"
                                th:value="${apellido}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="number" class="form-control" name="dni" placeholder="DNI" th:value="${dni}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="email" placeholder="Email" th:value="${email}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="password" class="form-control" name="password2" placeholder="Repetir Password"
                                th:value="${password2}">
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Registrarme" class="btn btn-primary">
                            <a th:href="@{/}" class="btn btn-primary ms-4">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Formulario Registro -->

    <!-- Inicio mensaje de error -->
    <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error!!</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <!-- Fin mensaje de error -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>