<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
    
</head>

<body>

    <!-- Inicio Header -->
        <header>
            <div class="navb mb-3">
                <!-- MENU -->
                <nav class="navbar navbar-expand-md bg-body-tertiary  ">
                    <div class="container-fluid">
                        <a class="navbar-brand mx-5" href="/">Health Service</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav container d-flex justify-content-end">
                                <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
                                <a class="nav-link mx-2" href="#">Doctores</a>
                                <a class="nav-link mx-2" href="#">Contacto</a>
                                <a class="nav-link mx-2 btn btn-custom-green " href="#turnos">Turnos</a>
                                <a class="nav-link mx-2" href="#">Login</a>
                                <a class="nav-link mx-2" href="/registrar">Registro</a>
                            </div>
                        </div>
                    </div>
                </nav>
               <!-- FIN MENU --> 
            </div>
        </header>
<!-- Fin Header -->

<!-- Inicio Formulario Registro -->      
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-5 mx-auto order-1" data-aos="fade-up" data-aos-delay="200">
                <form th:action="@{/registro}" method="POST" class="form-box" enctype="multipart/form-data">
                    <p class="title">Registro </p>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" th:value="${nombre}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" th:value="${apellido}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="number" class="form-control" name="dni" placeholder="DNI" th:value="${dni}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="domicilio" placeholder="Domicilio" th:value="${domicilio}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="email" placeholder="Email" th:value="${email}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" name="telefono" placeholder="Telefono" th:value="${telefono}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" th:value="${password}">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="password" class="form-control" name="password2" placeholder="Repetir Password" th:value="${password2}">
                        </div>
                    <!-- TERMINOS Y CONDICIONES -->
                        <!-- <div class="col-12 mb-3">
                            <label class="control control--checkbox">
                                <span class="caption">Acepto los <a href="#">terminos y condiciones</a></span>
                                <input type="checkbox" checked="checked" />
                                <div class="control__indicator"></div>
                            </label>
                        </div> -->

                        <div class="col-12">
                            <input type="submit" value="Registrarme" class="btn btn-primary">
                            <a th:href="@{/}" class="btn btn-primary ms-4">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 <!-- Fin Formulario Registro -->

<!-- Inicio mensaje de error -->
<div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
    <div class="card-body">
        <h5 class="card-title">Error!!</h5>
        <p class="card-text" th:text="${error}"></p>
    </div>
</div>
<!-- Fin mensaje de error -->
<script src="../static/js/bootstrap.min.js"></script>

</body>

</html>