<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
    <title>App Salud</title>
</head>

<body>
    <div class="contenedor">
        <div th:replace="/fragments/navbar ::div"> </div>
    </div>
    <section class="reg">
        <div class="panel ">
            <section class="reputacion ">
                <h3 class="fst-italic text-white ">Calificaciones</h3>
                <hr class="my-3 w-50">
                <table class="table table-success table-striped table-hover w-50">
                    <thead>
                        <tr>
                            <th>Puntualidad</th>
                            <th>Atención</th>
                            <th>Mobiliario</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td th:text="${valor1}"></td>
                            <td th:text="${valor2}"></td>
                            <td th:text="${valor3}"></td>
                            
                        </tr>

                    </tbody>
                </table>
            </section>
        </div>
    </section><!--? cierra el contendedor reg-->

    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>

