<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserva de Turno</title>
</head>
<body>
    <h1>Reservar Turno</h1>
    <form th:action="@{/turno/reservado}" method="post">
        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" name="fecha" required><br><br>
        
        <label for="horario">Horario:</label>
        <input type="text" id="horario" name="horario" required><br><br>
        
        <label for="profesional_id">Seleccionar Profesional:</label>
        <select id="profesional_id" name="profesional_id">
            <option th:each="profesional : ${profesionales}" th:value="${profesional.matricula}" th:text="${profesional.nombre}"></option>
        </select><br><br>
        
        <label for="diagnostico">Diagnóstico:</label>
        <textarea id="diagnostico" name="diagnostico" required></textarea><br><br>
        
        <button type="submit">Reservar Turno</button>
    </form>
    
    <div th:if="${exito}" style="color: green;">
        <p th:text="${exito}"></p>
    </div>
    
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</body>
</html>






