<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserva de Turno</title>
</head>
<body>
    <h1>Crear Calendario </h1>
    
            
    <form th:action="@{/turno/creado}" method="post">
        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" name="fecha" required><br><br>
        
        <label for="horaa">Hora Inicio:</label>
        <input type="text" name="horaInicio" required><br><br>
        
        <label for="hora">Hora Final</label>
        <input type="text"  name="horaFin" required><br><br>
        
        <input type="text"  name="profesional_id">
            
        
        
            
        <button type="submit">crear</button>
    </form>
    
    <div th:if="${exito}" style="color: green;">
        <p th:text="${exito}"></p>
    </div>
    
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</body>
</html>






