<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservar Turno</title>
</head>
<body>
    <h1>Reservar Turno</h1>
    <form th:action="@{/turno/reservado}" method="post" enctype="multipart/form-data">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required ><br><br>
        
        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" required><br><br>
        
        <select name="profesional_id">
            <option>Seleccionar Profesional</option>
            <option th:each="profesional : ${profesionales}" th:value="${profesional.matricula}"th:text="${profesional.nombre}" />
        </select>
        
        <button type="submit">Reservar</button>
    </form>
</body>
</html>




