<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/us.css">
    <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
    <title>NGroup</title>

    <!-- Agrega otros enlaces a tus archivos CSS, scripts, etc. según sea necesario -->
</head>

<body id="fondo">
    <div class="contenedor">
        <div class="navb">

        </div>
        <div class="grupo">
            <div class="">
                <h1 class="text-dark"> <i class="fa-solid fa-n" style="color: black;"></i><i class="fa-solid fa-g"
                        style="color: white;"></i>roup</h1>
            </div>
        </div>
        <div class="back">

            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="../images/gonza.png"></div>
                        <div class="contentBx">
                            <h3>Gonzalo Delgado <br> <span> Lider Técnico</span></h3>
                        </div> <!--ciera contentBX-->
                    </div><!--ciera content-->
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;">
                                </i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/aye.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Ayelen Martí <br> <span>BackEnd Developer Jr.</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/ema.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Emanuel Espiñeira<br> <span>BackEnd Developer Jr.</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!--cierra contcontainer-->

        </div><!--cierra contenedor back-->
        <div class="front">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="../images/edu.jpeg"></div>
                        <div class="contentBx">
                            <h3>Eduardo Riu <br> <span>BackEnd Developer Jr.</span></h3>
                        </div> <!--ciera contentBX-->
                    </div><!--ciera content-->
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;">
                                </i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/mar.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Mariana Bonanno<br> <span>BackEnd Developer Jr.</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/lucho.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Luciano Otegui<br> <span>Scrum Master</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!--cierra contcontainer-->
        </div>
        <div class="deve">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="../images/Nahu.jpeg"></div>
                        <div class="contentBx">
                            <h3>Nahuel Rey <br> <span>FrontEnd Developer Jr.</span></h3>
                        </div> <!--ciera contentBX-->
                    </div><!--ciera content-->
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;">
                                </i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/Olga.png">
                        </div>
                        <div class="contentBx">
                            <h3>Olga Betancourt<br> <span>FrontEnd Developer Jr.</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="../images/jos.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Josue Sajama<br> <span>Admin Delivery Manager</span></h3>
                        </div>
                    </div>

                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!--cierra contcontainer-->
        </div>
        <div class="foot">
            <a href="/">
                <button type="button" class="btn btn-outline-light fw-bold boton">Back</button>

            </a>
        </div>
    </div><!--ciera contenedor back-->

</body>

</html>