body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1fb;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Alinear elementos horizontalmente */
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 10px; /* Ajusta el margen superior del botón */
    padding: 10px 20px;
}

button:hover {
    background-color: #09db61;
}

/*Estilos boton*/
.space-button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.space-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .space-button {
        background-color: #1b785ced;
        color: #fff;
        box-shadow: 0px 0px 10px 0px #00d921;
    }

    .space-button:hover {
        box-shadow: 0px 0px 20px 0px #fff;
    }

    .space-button:active {
        box-shadow: none;
        background-color: #001f3f;
    }
}