/* Estilos generales */
body {
    background: linear-gradient(to right, #f7f5f55a, #5e5d5dea), url(../images/dashboard.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Estilos del menú */
.menu {
    display: flex;
    flex-direction: column;
    background-color: #3b403faf;
    width: 130px;
    position: absolute;
}

.opcion {
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 10px 20px;
}

.opcion:hover {
    background-color: #242726;
}

.opcion.active {
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos de los contenedores */
.contenedores {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contenedor {
    width: 80%;
    background-color: #1d1e1e88;
    text-align: center;
    transition: opacity 0.5s ease; /* Efecto de transición */
    opacity: 0; /* Inicialmente ocultos */
    pointer-events: none; /* No se pueden interactuar */
    position: absolute;
    top: 50px;
}

.contenedor.active {
    opacity: 1; /* Se muestran al tener la clase active */
    pointer-events: auto;/* Se pueden interactuar */
    z-index: 1;

}

/* CALIFICACION */
.star {
    font-size: 20px;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: gold;
}