/*ESTILO DEL FOOTER*/
footer {
    grid-area: foot;
    /* position: fixed;  */
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #27d1a9e3; 
    color: white; 
    padding: 10px; 
    color: rgb(54, 52, 52); 
}
span{
    font-weight: 700;
}
p {
    height: 10px;
}
a{
    text-decoration: none;
    color: rgb(54, 52, 52);
}