/*ESTILO DEL MENU*/
.navb {
    grid-area: navb;
    font-size: 1.1em;
}
.nav-link:hover {
    color: rgb(249, 250, 249);
    border-radius: 10%;
}
.bg-custom {
    background-color: #27d1a9e3; 
}
/*ESTILO LOGO*/
.logo{
    width: 80%;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50px;
}