.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.panel-item{
    margin-bottom: 1em;
}
.dashboard-section {
    display: none;
}

/* Agregar estilos específicos para cada sección del dashboard */
#crearProfesional {
    background-color: rgb(255, 21, 0);
}

#crearPaciente {
    background-color: rgb(28, 105, 18);
}

#listarProfesional {
    background-color: rgb(37, 125, 163);
}

#listarPaciente {
/*     background-color: rgb(212, 255, 0);*/}