.contenedor {
    text-align: center;
    display: grid;
    grid-template: auto auto auto auto auto / 35% 30% 1fr;
    grid-template-areas: "navb navb navb  "
        "carr carr carr  "
        "cont cont reg "
        "cont2 cont2 reg"
        "foot foot foot";
}

/*ESTILO DEL MENU*/
.navb {
    grid-area: navb;
}
.nav-link:hover {
    color: rgb(0, 255, 26);
}

/*ESTILO DEL CARRUSEL*/
.carr {
    grid-area: carr;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
}

/*ESTILO DEL CONTENEDOR 1*/
.cont {
    grid-area: cont;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 23em;
    margin-top: 0.5em;
}

.profesionales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.prof{
    width: 18em;
    padding: 0.2em;
}
.prof img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
/*ESTILO DEL REGISTRO*/
.reg {
    grid-area: reg;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 235, 181);
}

/*ESTILO FORMULARIO*/
.form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
.apartado{
    height: 10em;
    background-color: rgb(0, 255, 47);
}
/*ESTILO DEL CONTENEDOR 2*/
.cont2 {
    grid-area: cont2;
    display: flex;
    height: 20em;
    margin-top: 0.5em;
}
.contimag{
    width: 70%;
}
.contimag img{
    margin-top: 1em;
    width: 60%;
    height: 100%;
}
.context{
    width: 80%;
    text-align: justify;
    padding-right: 0.6em;
}
/*ESTILO DEL FOOTER*/
.foot {
    grid-area: foot;
    display: flex;
    justify-content: center;
    background-color: rgb(122, 218, 164);
}

/*ESTILO LOGO*/
.logo{
    width: 80%;
    height: 75px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50px;
}

/*Estilo servicios*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fondo*/
.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0808085a, #08080861), url('images/slider1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.galeria img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
header{
    text-align: center;
    padding: 20px;
}
footer{
    text-align: center;
    margin-top:10px;
    
}

section{
    width: 90%;
    margin:0 auto;
    height: 85vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid gray;
}

section img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

section img:hover{
    width: 30%;
    opacity: 1;
    filter:contrast(120%);
}

@media screen and (max-width: 768px){
    section{
        flex-wrap: wrap;
    }
    section img{
        height: 80%;
    }
    section img:hover{
        width: 70%;
        
    }
}
