.contenedor {
    text-align: center;
    display: grid;
    grid-template: auto auto auto auto auto / 50% 28% 1fr;
    grid-template-areas: "navb navb navb  "
        "carr carr carr  "
        "cont cont reg "
        "cont2 cont2 reg"
        "foot foot foot";
}

#fondo {
    background: linear-gradient(to right, #08080844, #08080884), url(../images/news-image1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*ESTILO DEL CARRUSEL*/
.carr {
    grid-area: carr;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
}

/*ESTILO DEL CONTENEDOR 1*/
.cont {
    grid-area: cont;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 23em;
}

.profesionales {
    width: 65em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.card {
    width: 200px;
    aspect-ratio: 1/1.3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card .image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0) brightness(1);
    scale: 1.2;
    transition: scale 2s ease-in-out, filter 1s ease-in-out;
}

.card:hover .image-box img {
    filter: grayscale(1) brightness(0.7);
    scale: 1;
}

.card .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-box :is(.main, .sub) {
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}

.text-box .main {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.text-box .sub {
    font-size: 14px;
    font-weight: 300;
}

.main span,
.sub span {
    display: block;
    transition: transform 0.5s ease;
}

.main span {
    transition-delay: 0.2s;
    transform: translateY(100%);
}

.sub span {
    transform: translateY(-100%);
    transition-delay: 0.5s;
}

.card:hover .text-box :is(span) {
    transform: translateY(0%);
}

.text-box::after {
    position: absolute;
    content: "";
    top: 52%;
    left: 50%;
    width: 102%;
    height: 3px;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
    background-color: cyan;
}

.card:hover .text-box::after {
    transform: translate(-50%, -50%) scaleX(1);
}


.prof img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

/*ESTILO DEL REGISTRO*/
.reg {
    grid-area: reg;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ESTILO FORMULARIO*/
.form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.apartado {
    height: 10em;
    background-color: rgb(0, 255, 47);
}

/*ESTILO DEL CONTENEDOR 2*/
.cont2 {
    grid-area: cont2;
    display: flex;
    height: 20em;
    flex-direction: column;
}
/*section de galeria servicios*/

/** GALERIA SERVICIOS*/

.galeria-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    grid-gap: 5px;
    padding: 40px 0;
    overflow: hidden;
    /* Otros estilos específicos para la segunda galería */
}
.galeria-servicios > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(9, 9, 9);
    }
    .galeria-servicios > a span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s;
    }
    
    .galeria-servicios > a:hover span {
        opacity: 1;
    }
.galeria-servicios img {
    margin-left: 0.5em;
    max-width: 100%;
    vertical-align: top;
    height: 200px;
    object-fit: cover;
    transition: transform 0.8s;
    /* Otros estilos específicos para las imágenes de la segunda galería */
}

.galeria-servicios a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

/*ESTILO LOGO*/
.logo{
    width: 80%;
    height: 75px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50px;
}
/*Estilo servicios*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*De aca para bajo galerias marvel y servicios*/
/*galeria marvel*/
.contenedor .galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.contenedor .galeria img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.galeria{
    width: 100%;
    margin:0 auto;
    height: 85vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid gray;
}

.galeria img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.galeria img:hover{
    width: 40%;
    opacity: 1;
    filter:contrast(120%);
}

@media screen and (max-width: 768px){
    section{
        flex-wrap: wrap;
    }
    .galeria img{
        height: 80%;
    }
    .galeria img:hover{
        width: 70%;
        
    }
}

/*galeria servicios*/

.contenedor .galeria-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 200%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    background: #087990;
    /* Otros estilos específicos para la segunda galería */
}

.galeria-servicios > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(0, 0, .5);
}

.contenedor .galeria-servicios img {
    max-width: 100%;
    vertical-align: top;
    height: 200px;
    object-fit: cover;
    transition: transform 0.8s;
    /* Otros estilos específicos para las imágenes de la segunda galería */
}

.galeria-servicios a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
header{
    text-align: center;
    padding: 20px;
}
footer{
    text-align: center;
    margin-top:10px;
    
}




@media screen and (max-width: 768px){
    section{
        flex-wrap: wrap;
    }
    galeria-servicios img{
        height: 80%;
    }
    galeria-servicios img:hover{
        width: 70%;
        
    }
}
