<div class="navb">
    <!-- MENU -->
    <nav class="navbar navbar-expand-md bg-body-tertiary  ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="logo" src="/images/logo.jpg" alt="logo ss">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav container d-flex justify-content-end">
                    <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
                    <a class="nav-link mx-2" href="#">Doctores</a>
                    <a class="nav-link mx-2" href="#">Contactos</a>
                    <a class="nav-link mx-2" href="#">Servicios</a>
                    <a class="nav-link mx-2 btn btn-custom-green " href="#turnos">Turnos</a>
                    <a class="nav-link mx-2" href="#">Login</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link mx-2 dropdown-toggle" th:href="@{/registrar}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Registro
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="paciente.html">Pacientes</a>
                            <a class="dropdown-item" href="registro.html">Profesional</a>
                        </div>
                    </div>
                    <!--<a class="nav-link mx-2" href="#form">Registro</a>-->
                </div>
            </div>
        </div>
    </nav>
</div>