<section class="reg">
    <form id="form" class="form" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
        <!-- se puede agregar el atributo "novalidate" para quitar las alertas predeterminadas del "required"  -->
        <p class="title">Registro </p>
        <p class="message">Registrate ahora para acceder a nuestros sesrvicios!</p>
        <div class="d-flex justify-content-between">
            <label class="name">
                <input type="text" class="input" required="false" name="nombre" th:value="${nombre}">
                <span>Nombre</span>
            </label>
            <label class="name">
                <input type="text" class="input" required="" name="apellido" th:value="${apellido}">
                <span>Apellido</span>
            </label>
        </div>
        <label>
            <input type="number" class="input" required="" name="dni" th:value="${dni}">
            <span>DNI</span>
        </label>
        <label>
            <input type="email" class="input" required="" name="email" th:value="${email}">
            <span>Email</span>
        </label>
        <label>
            <input type="password" class="input" required="" name="password" th:value="${password}">
            <span>Contraseña</span>
        </label>
        <label>
            <input type="password" class="input" required="" name="password2" th:value="${password2}">
            <span>Repetir Contraseña</span>
        </label>
        <button class="submit">Registrarme</button>
        <p class="signin">Ya tienes una cuenta? <a href="#">Loguearse</a> </p>
        <!-- Inicio Mensaje de Exito -->
        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <!-- Fin Mensaje de Exito -->

        <!-- Inicio mensaje de error -->
        <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error!!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <!-- Fin mensaje de error -->
    </form>
    <!-- FIN FORM -->

    <!-- 
        <div class="apartado">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quis laborum consectetur nam
        eligendi, maiores distinctio praesentium delectus iure ut saepe? Sit accusantium architecto nulla
        possimus, cumque inventore, debitis at tenetur, maxime itaque accusamus illo sunt molestias praesentium
        mollitia fugiat sint libero non eius. Iste saepe ex dolor exercitationem deserunt?
    </div> 
    -->
</section>