<section>
    <link rel="stylesheet" href="/css/sidebar.css">
    <button class="toggle-btn" id="sidebar-toggle">☰ Perfil</button>
    <div class="sidebar" id="sidebar">
        <h2>Paciente</h2>
        <ul>
            <li><a href="#" class="opcion" data-target="form">Actualizar datos</a></li>
            <li><a href="/profesionales" class="opcion" data-target="profesionales">Doctores</a></li>
            <li><a href="#" class="opcion" data-target="">Especialidades</a></li>
            <li><a th:href="@{/servicios}" class="opcion" data-target="servicios">Servicios</a></li>
            <li><a th:href="@{/turno/reservar}" class="opcion" data-target="">Turnos</a></li>
        </ul>
    </div>
    <script src="/js/sidebar.js"></script>
</section>
