<section>
    <link rel="stylesheet" href="/css/sidebar.css">
    <button class="toggle-btn" id="sidebar-toggle">☰ Perfil</button>
    <div class="sidebar" id="sidebar">
      <h2>Profesional</h2>
      <ul>
          <li><a href="#">Actualizar datos</a></li>
          <li><a href="#">Control de Turnos</a></li>
          <li><a href="#">Historia Clinica</a></li>
          <li><a href="#">Obras Sociales</a></li>
      </ul>
  </div>
    </div>
    <script src="/js/sidebar.js"></script>
  </section>
