<section>
    <link rel="stylesheet" href="/css/sidebar.css">
    <button class="toggle-btn" id="sidebar-toggle">☰ Perfil</button>
    <div class="sidebar" id="sidebar">
        <h2>Paciente</h2>
        <ul>
            <li><a href="#">Actualizar datos</a></li>
            <li><a href="#">Turnitos</a></li>
            <li><a href="#">Especialidades</a></li>
            <li><a href="#">Doctores</a></li>
            <li><a href="#">Servicios</a></li>
        </ul>
    </div>
    <script src="/js/sidebar.js"></script>
</section>
