<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script src="https://kit.fontawesome.com/55f72b8182.js" crossorigin="anonymous"></script>
    <title>App Salud</title>
</head>

<body>
    <div class="contenedor">
        <div th:replace="/fragments/navbar ::div"> </div>
    </div>
    <section class="reg">
        
        <div class="panel">
            
            <!--* FORMULARIO PARA ACTUALIZAR DATOS ARMAR FRAGMENT-->
            <div class="actualizar"> <!-- Contenedor de actualizar-->
               
                <form id="form" class="form" th:action="@{/perfil/__${session.profesionalsession.matricula}__}" method="POST"
                    enctype="multipart/form-data" novalidate>
                    <!-- se puede agregar el atributo "novalidate" para quitar las alertas predeterminadas del "required"  -->
                    <p class="title ">Actualizar Datos Profesional</p>
                    <input hidden th:value="${matricula}" name="matricula">
                    <label>
                        <input type="text" class="input" required="" name="domicilio" th:value="${profesional.domicilio}">
                        <span>Domicilio</span>
                    </label>
                    <label>
                        <input type="tel" class="input" required="" name="telefono" th:value="${profesional.telefono}">
                        <span>Telefono</span>
                    </label>
                    <label>
                        <input type="email" class="input" required="" name="email" th:value="${profesional.email}">
                        <span>Email</span>
                    </label>
                    <div class="form-group my-3">
                        <input type="file" class="form-control" name="archivo">
                    </div>

                    <button class="submit">Actualizar</button>

                    <!-- Inicio Mensaje de Exito -->
                    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                        <div class="card-body">
                            <h5 class="card-title">Exito</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                    </div>
                    <!-- Fin Mensaje de Exito -->

                    <!-- Inicio mensaje de error -->
                    <div th:if="${error != null}" class="card text-white bg-danger my-3 mensajeError">
                        <div class="card-body">
                            <h5 class="card-title">Error!!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <!-- Fin mensaje de error -->
                </form>
                <div class="imagenP ">
                    
                    <h3 class="fst-italic"th:if="${session.profesionalsession != null}" th:text=" 'Dr. '+ ${session.profesionalsession.nombre} " ></h3>
                    <img class="imgPerfil"  th:src="@{/imagen/perfil/__${session.profesionalsession.matricula}__}" alt=" usuario" >
                    
                </div>
            </div> <!-- cierra el contenedor ded actualizar -->

            <!--? LISTAR DOCTORES ARMAR FRAGMENT-->
            <section class="tabla">
                <hr class="my-2">
                <h2 class="fst-italic text-white">Turnos del día</h2>
                <a class="dropdown-item" th:href="@{/profesional/listaProfesionales}">Listar Profe</a></li>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                        </tr>
                    </thead>
                <!--    <tbod th:each="profesional : ${profesionales}"></tbod>>
                        <tr>
                            <th scope="row" th:text="${profesional.matricula}">1</th>
                            <td th:text="${profesional.apellido}"></td>
                            <td th:text="${profesional.correo}"></td>
                            <td th:text="${profesional.telefono}"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </section><!--Cierra la tabla-->

            <!--? LISTAR SERVICIOS ARMAR FRAGMENT-->
            <section>
                <h2 class="fst-italic text-white">Historia Clinica</h2>
                <div class="conte">
                    <section class="galeria-servicios">
                        <a href="#image1">
                            <img src="/images/ambulancias.webp" alt="">
                            <span>Servicio de Ambulancias</span>
                        </a>
                        <a href="#image2">
                            <img src="/images/laboratorio3.jpg" alt="">
                            <span>Laboratorio a Domicilio</span>
                        </a>
                        <a href="#image3">
                            <img src="/images/call.webp" alt="">
                            <span>Atención telefónica 24/7</span>
                        </a>
                    </section>
            </div>
            </section>
            <!--            
            </select>-->
        </div><!-- Cierra div del panel contenedor -->

        <!--* SIDEBAR-->
        <section th:replace="/fragments/sidebarProfesional :: section"></section>


    </section> <!--? cierra el contendedor reg-->
    </div>
    </section>

    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>